@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    box-sizing: border-box;

}
body{
    background-image: url(./img/milin-john-0uTjgCkVtvM-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -20rem;
}
.countdow-contaniner {
    display: flex;

}
.big-text {
    font-weight: bold;
    font-size:  6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdow-el {
    text-align: center;
}
.countdow-el span {
    font-size:  1.5rem;
}
    
